@model PagedList.IPagedList<Inventory.Web.ViewModels.PagedListVM>

@foreach (var item in Model.Select(x => x.Assets).FirstOrDefault())
{
<tr class="@(item.AssetStatusGroup != "Active" ? "text-danger" : "")">
    <td class="text-center d-print-none">
        @Html.ActionLink(" ", "Index", "UserAsset", new { muId = ViewBag.ManagedUserId, assetCategory = item.InvoiceItem.AssetCategory.Name, assetId = ViewBag.AssetId, showConnectedAssets = ViewBag.ShowConnectedAssets, currentSearch = ViewBag.CurrentSearch, InvoiceItemId = ViewBag.InvoiceItemId }, new { @Class = item.InvoiceItem.AssetCategory.IconCss + " text-decoration-none", @Title = item.InvoiceItem.AssetCategory.Name })
    </td>
    @if (ViewBag.AssetCategory == "Desktop" || ViewBag.AssetCategory == "Laptop" || ViewBag.AssetCategory == "Server" || ViewBag.AssetCategory == "Switch")
    {
        <td class="d-none d-sm-none d-md-none d-lg-none d-xl-table-cell d-print-table-cell">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    }
    else
    {
        <td class="d-none d-sm-none d-md-none d-lg-none d-xl-table-cell d-print-table-cell">
            @Html.DisplayFor(modelItem => item.ManufacturerName)
        </td>
    }
    <td class="d-none d-sm-none d-md-table-cell d-lg-table-cell d-xl-table-cell d-print-table-cell">
        @Html.DisplayFor(modelItem => item.ProductName)

        @if (item.ConnectedAssetId != null)
        {
            @Html.ActionLink(" ", "Index", "UserAsset", new { muId = ViewBag.ManagedUserId, assetId = item.ConnectedAssetId, showConnectedAssets = true, sortOrder = ViewBag.ConnectedAssetSortOrder }, new { @Class = item.ConnectedAsset.InvoiceItem.AssetCategory.IconCss + " fa-xs text-decoration-none", @Title = "Connected to " + item.ConnectedAsset.InvoiceItem.AssetCategory.Name })
        }

        @if (item.InvoiceItem.AssetCategory.Name == "Desktop" || item.InvoiceItem.AssetCategory.Name == "Laptop" || item.InvoiceItem.AssetCategory.Name == "Server")
        {
            foreach (var asset in item.ConnectedAssets.OrderBy(x => x.InvoiceItem.AssetCategory.Name))
            {
                @Html.ActionLink(" ", "Index", "UserAsset", new { muId = ViewBag.ManagedUserId, assetId = asset.ConnectedAssetId, showConnectedAssets = true, sortOrder = ViewBag.ConnectedAssetSortOrder }, new { @Class = asset.InvoiceItem.AssetCategory.IconCss + " fa-xs pr-1 text-decoration-none", @Title = "Connected to " + asset.InvoiceItem.AssetCategory.Name })
            }
        }
    </td>
    <td class="text-break d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-print-table-cell">
        @Html.DisplayFor(modelItem => item.AssetTag)
    </td>
    <td class="text-break">
        @Html.DisplayFor(modelItem => item.Serial)
    </td>
    <td class="text-break text-center">
        @Html.DisplayFor(modelItem => item.LocationCode)
    </td>
    <td class="text-break d-none d-sm-none d-lg-none d-xl-table-cell d-print-table-cell">
        @Html.DisplayFor(modelItem => item.Building.DisplayName)
    </td>
    <td class="text-break text-center d-none d-sm-none d-lg-table-cell d-xl-table-cell d-print-table-cell">
        @Html.DisplayFor(modelItem => item.Room.DisplayName)
    </td>
    <td class="text-center d-print-none">
        @if ((User.Identity.IsAuthenticated) && (User.IsInRole("HardwareEdit")))
        {
            @Html.ActionLink(item.InvoiceAndInvoiceItem, "Index", "InvoiceItem", new { SearchString = item.InvoiceAndInvoiceItem }, new { @Title = "InvoiceItem", @class = "text-decoration-none" })
        }
        else
        {
            @Html.DisplayFor(modelItem => item.InvoiceAndInvoiceItem)
        }
    </td>
    <td class="text-break text-center d-none d-sm-none d-lg-table-cell d-xl-table-cell d-print-table-cell">
        @Html.DisplayFor(modelItem => item.AssetConfirmedDate)
    </td>
    <td class="d-print-none text-center">
        <div class="btn-group">
            @if ((User.Identity.IsAuthenticated) && (User.IsInRole("UserAssetView")))
            {
                if (item.AbleToConfirm ?? false)
                {
                    <a href="javascript:" type="button" class="confirm btn-sm btn-light" style="color:blue" data-id="@item.Id" title="Confirm"><i class="far fa-check-square"></i></a>
                }
                else if (item.AssetConfirmedDate != null)
                {
                    <a href="javascript:" type="button" class="btn-sm btn-light" style="color:cornflowerblue" title="Confirm"><i class="far fa-check-square"></i></a>
                }
                else
                {
                    <a href = "javascript:" type = "button" class="btn-sm btn-light" style="color:crimson" title="Confirm"><i class="far fa-check-square"></i></a>
                }
}
            @if ((User.Identity.IsAuthenticated) && (User.IsInRole("UserAssetView")))
{
                <a href="@Url.Action("Details", "UserAsset", new { id = item.Id })" class="btn-sm btn-light"><i class="fa fa-list"></i></a>
}
        </div>
    </td>
</tr>
}
